.container {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--mantine-color-red-6);
}

.description {
  font-size: var(--mantine-font-size-lg);
  margin-top: var(--mantine-spacing-md);
}

.button {
  margin-top: var(--mantine-spacing-lg);
  border-color: var(--mantine-color-red-6);
  color: var(--mantine-color-red-6);
}